span.wp-tripetto-results-block {
  display: block;
  padding: 8px 12px 0px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  color: #18214d;
}

span.wp-tripetto-results-info {
  display: block;
  padding: 8px 12px 0px 12px;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.4;
  color: #18214d;
}

input[type="checkbox"] {
  z-index: 0;
}
