@import "../fonts/fonts.scss";
@import "../admin/builder/builder.scss";

.wp-tripetto-gutenberg {
  min-height: 125px !important;
  background-color: #fff;
  background-image: url("background.svg");
  background-position: right 16px bottom;
  background-repeat: no-repeat;
  background-size: 100px;

  > div.components-placeholder__label {
    font-family: "Poppins", sans-serif !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    color: #18214d !important;
  }
}
