.elementor-widget-tripetto {
  .elementor-widget-container {
    min-height: 1px;
  }

  .placeholder {
    border: 1px solid #000;
    background-color: #fff;
    background-position: right 16px bottom;
    background-repeat: no-repeat;
    background-size: 100px;
    padding: 16px 24px;
    border-radius: 2px;
    min-height: 1px;

    > div {
      &:first-child {
        display: flex;
        align-items: center;
        flex-direction: row;

        > img {
          width: 24px;
          height: 24px;
          border: none;
        }

        > span {
          font-family: "Poppins", sans-serif;
          font-size: 22px;
          font-weight: 700;
          color: #18214d;
          margin-left: 12px;
        }
      }

      &:last-child {
        margin-top: 8px;
        font-family: sans-serif;
        font-size: 13px;
        color: #000;
      }
    }
  }
}
