#wp-tripetto-onboarding {
  position: absolute;
  top: 32px;
  left: 160px;
  right: 0;
  bottom: 0;
  overflow: hidden;

  > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-size: 20% auto;
    background-position: bottom right 48px;
    opacity: 0;

    &.wp-tripetto-onboarding-show {
      @keyframes wp-tripetto-onboarding-animation {
        from {
          opacity: 0;
          transform: translate3d(0, 100px, 0);
        }

        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      opacity: 1;
      animation: 1s ease 0s wp-tripetto-onboarding-animation;
    }

    > iframe {
      position: relative;
      max-width: 768px;
    }
  }
}
