#wp-tripetto-templates {
  @keyframes wp-tripetto-templates-animation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  $wp-tripetto-main: #8f68fb;
  $wp-tripetto-dark: #18214d;
  $wp-tripetto-dark-64: #6b718d;
  $wp-tripetto-light: #eff2f6;
  $wp-tripetto-grey: #dfe4ea;
  $wp-tripetto-yellow: #feca2f;

  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  padding-right: 10px;
  animation: 1s ease 0s wp-tripetto-templates-animation;

  @media (min-width: 783px) {
    padding-right: 20px;
  }

  * {
    color: $wp-tripetto-dark;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 1em;
    margin-bottom: 16px;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 1.5em;
    margin-bottom: 32px;
  }

  a {
    color: $wp-tripetto-main;
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
  }

  > small {
    display: block;
    padding-top: 16px;
  }

  > div {
    background-color: #fff;
    margin-top: 24px;
    border-radius: 8px;
    padding: 24px;

    @media (min-width: 783px) {
      margin-left: 32px;
      margin-right: 32px;
      padding: 48px;
    }

    &.wp-tripetto-templates-scratch {
      @media (min-width: 783px) {
        background-image: url("scratch-background.svg");
        background-size: 180px;
        background-position: right 16px bottom;
        background-repeat: no-repeat;
      }

      @media (min-width: 1400px) {
        background-size: 298px;
      }

      p {
        &:last-of-type {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 16px;
        }

        @media (min-width: 783px) {
          max-width: 376px;
        }
      }

      ul {
        li {
          margin-right: 16px;
          margin-bottom: 16px;
          width: 260px;

          a {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 96px;
            padding-right: 16px;
            height: 96px;
            background-color: $wp-tripetto-main;
            color: #fff;
            border-radius: 8px;
            background-size: 64px;
            background-position: 16px center;
            background-repeat: no-repeat;
            transition: transform 0.2s ease-out;

            &:hover {
              text-decoration: none;
              transform: scale(1.02);
            }

            &:active,
            &:focus {
              box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.35) !important;
            }

            &.wp-tripetto-templates-autoscroll {
              background-image: url("icon-scratch-autoscroll.svg");
            }

            &.wp-tripetto-templates-chat {
              background-image: url("icon-scratch-chat.svg");
            }

            &.wp-tripetto-templates-classic {
              background-image: url("icon-scratch-classic.svg");
            }

            h3 {
              font-size: 16px;
              color: #fff;
              letter-spacing: -0.25px;
              margin-bottom: 2px;
            }

            span {
              font-size: 13px;
              color: $wp-tripetto-grey;
              letter-spacing: -0.3px;
              line-height: 1.5em;
            }
          }
        }
      }
    }

    &.wp-tripetto-templates-raster {
      p {
        @media (min-width: 783px) {
          max-width: 332px;
        }
      }

      ul {
        li {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          width: 260px;
          margin-bottom: 16px;
          margin-right: 16px;
          border-radius: 8px;
          background-color: $wp-tripetto-light;
          transition: transform 0.2s ease-out;

          @media (min-width: 1420px) {
            width: 320px;
            border-radius: 16px;
            margin-bottom: 24px;
            margin-right: 24px;
          }

          &:hover {
            transform: scale(1.01);
          }

          .wp-tripetto-template-top {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 180px;
            position: relative;

            @media (min-width: 1420px) {
              min-height: 220px;
            }

            > div {
              position: absolute;
              width: 100%;

              &.wp-tripetto-template-pro {
                height: 48px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                > a {
                  display: inline-block;
                  background-color: $wp-tripetto-yellow;
                  margin-top: 8px;
                  margin-right: 8px;
                  padding: 3px 12px;
                  font-size: 12px;
                  color: $wp-tripetto-dark;
                  border-radius: 12px;

                  @media (min-width: 1420px) {
                    margin-top: 16px;
                    margin-right: 16px;
                  }
                }
              }

              &.wp-tripetto-template-buttons {
                height: 100%;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: opacity 0.4s ease-out,
                  background-color 0.4s ease-out;

                > a,
                > span {
                  display: inline-block;
                  padding: 10px 11px;
                  background-color: $wp-tripetto-main;
                  border: 2px solid $wp-tripetto-main;
                  border-radius: 8px;
                  font-size: 16px;
                  font-weight: 500;
                  color: #fff;
                  text-decoration: none !important;
                  outline: none !important;
                  transition: background-color 0.4s ease-out;
                  text-align: center;
                  cursor: pointer;
                  white-space: nowrap;
                  margin-left: 4px;
                  margin-right: 4px;

                  @media (min-width: 1420px) {
                    font-size: 18px;
                    padding: 14px 15px;
                  }

                  &:active,
                  &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.35) !important;
                  }

                  &:hover {
                    background-color: lighten($wp-tripetto-main, 2%);
                    color: #fff;
                  }

                  &.wp-tripetto-template-disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                  }
                }

                > span {
                  background-color: $wp-tripetto-light;
                  border-color: $wp-tripetto-light;
                  color: $wp-tripetto-dark !important;

                  &:active,
                  &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(239, 242, 246, 0.35) !important;
                  }

                  &:hover {
                    background-color: lighten($wp-tripetto-light, 2%);
                  }
                }
              }

              &.wp-tripetto-template-buttons-active {
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.6);
              }
            }
          }

          .wp-tripetto-template-bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 16px 24px 16px 104px;
            background-position: 24px center;
            background-repeat: no-repeat;
            transition: transform 0.2s ease-out;
            height: 64px;

            &.wp-tripetto-template-autoscroll {
              background-image: url("icon-template-autoscroll.svg");
            }

            &.wp-tripetto-template-chat {
              background-image: url("icon-template-chat.svg");
            }

            &.wp-tripetto-template-classic {
              background-image: url("icon-template-classic.svg");
            }

            > span {
              font-size: 13px;
              color: $wp-tripetto-dark-64;
              font-weight: 600;
            }

            > h3 {
              font-size: 16px;
              font-weight: 700;
              letter-spacing: -0.25px;
              line-height: 1.2em;
            }
          }
        }
      }
    }
  }
}

.wp-tripetto-preview-template {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  z-index: 2147483647;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: default;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;

  > div {
    &:first-child {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      color: #fff;
      font-size: 18px;
    }

    &:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      width: 64px;
      height: 64px;
      opacity: 0.8;
      background-size: 32px 32px;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("icon-close.svg");
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    &:last-child {
      width: calc(100% - 128px);
      height: calc(100% - 128px);
      max-width: 1024px;
      background-color: #fff;
      box-shadow: 0px 0px 16px 0px #000000;
      display: none;

      &.show {
        display: block;
      }
    }
  }

  &.show {
    opacity: 1;
  }

  &.close {
    opacity: 0;
  }
}
