$wp-tripetto-dark: #18214d;
$wp-tripetto-main: #8f68fb;
$wp-tripetto-light: #eff2f6;
$wp-tripetto-red: #fa3a69;

#wp-tripetto-admin {
  opacity: 0;
  transition: opacity 0.5s;
}

#wp-tripetto-header {
  @keyframes wp-tripetto-dashboard-header {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  position: absolute;
  top: 32px;
  left: 160px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 8px 2px;
  user-select: none;
  cursor: default;
  animation: 0.5s ease 0s wp-tripetto-dashboard-header;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;

  @media (min-width: 601px) {
    position: fixed;
  }

  > div.wp-tripetto-header-notification {
    width: 100%;
    height: 52px;
    background-color: $wp-tripetto-dark;
    color: #fff;
    display: flex;
    justify-content: center;

    div {
      display: flex;
      align-items: center;
      font-size: 13px;

      @media (min-width: 783px) {
        font-size: 13px;
        letter-spacing: -0.3px;
      }

      &:first-child {
        display: none;

        @media (min-width: 783px) {
          display: flex;
          padding-right: 44px;
          background-image: url("notification.svg");
          background-repeat: no-repeat;
          background-size: 32px;
          background-position: right 8px bottom;
          font-weight: 500;
        }
      }
    }

    a {
      color: #fff;
      font-weight: 400;
      text-decoration: underline;
      box-shadow: none !important;
    }
  }

  > div.wp-tripetto-header-navigation {
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
      flex-direction: row;
      padding: 0px 0px 0px 16px;

      .wp-tripetto-header-back {
        width: 40px;
        height: 40px;
        background-image: url("back.svg");
        background-size: 20px;
        background-position: 4px center;
        background-repeat: no-repeat;
        box-shadow: none !important;

        @media (min-width: 783px) {
          margin-right: 24px;
        }

        &:hover {
          @keyframes wp-tripetto-header-back {
            from {
              transform: translate3d(0, 0, 0);
            }

            50% {
              transform: translate3d(-8px, 0, 0);
            }

            to {
              transform: translate3d(0, 0, 0);
            }
          }

          animation: 1s ease 0s infinite wp-tripetto-header-back;
        }
      }

      .wp-tripetto-header-title {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.4px;
        color: $wp-tripetto-dark;
        margin-right: 16px;
        white-space: nowrap;

        @media (min-width: 783px) {
          margin-right: 48px;
        }
      }

      .wp-tripetto-header-button {
        display: inline-block;
        padding: 14px 15px;
        background-color: $wp-tripetto-main;
        border: 2px solid $wp-tripetto-main;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-decoration: none !important;
        outline: none !important;
        transition: background-color 0.2s ease-out;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        margin-right: 16px;

        &:active,
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.35);
        }

        &:hover {
          background-color: lighten($wp-tripetto-main, 2%);
          color: #fff;
        }

        &.wp-tripetto-header-button-secondary {
          background-color: $wp-tripetto-light;
          border-color: $wp-tripetto-light;
          color: $wp-tripetto-dark;

          &:active,
          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(239, 242, 246, 0.35);
          }

          &:hover {
            background-color: lighten($wp-tripetto-light, 2%);
          }
        }

        &.wp-tripetto-header-button-danger {
          background-color: $wp-tripetto-red;
          border-color: $wp-tripetto-red;

          &:active,
          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(250, 58, 105, 0.35);
          }

          &:hover {
            background-color: lighten($wp-tripetto-red, 2%);
          }
        }

        &.wp-tripetto-header-button-icon {
          padding-left: 45px;
          background-size: 14px;
          background-position: 15px center;
          background-repeat: no-repeat;
        }

        &.wp-tripetto-header-button-icon-add {
          background-image: url("add.svg");
        }

        &.wp-tripetto-header-button-icon-download {
          background-image: url("download.svg");
        }

        &.wp-tripetto-header-button-icon-delete {
          background-image: url("delete.svg");
        }

        &.wp-tripetto-header-button-dropdown {
          > span {
            display: inline-block;
            width: 32px;
            height: 8px;
            background-image: url("dropdown.svg");
            background-size: 12px;
            background-position: right center;
            background-repeat: no-repeat;
          }
        }

        &.wp-tripetto-header-button-disabled {
          opacity: 0.3;
          pointer-events: none;
        }
      }

      .wp-tripetto-header-dropdown {
        .wp-tripetto-header-dropdown-menu {
          opacity: 0;
          pointer-events: none;
          position: absolute;
          z-index: 1000;
          background-color: #fff;
          padding: 8px 16px;
          margin-top: 8px;
          border: 0;
          box-shadow: rgb(0 0 0 / 20%) 0px 0px 3px 1px;
          border-radius: 0.25rem;

          > a {
            display: block;
            padding: 12px 0px;
            border-bottom: 1px solid #eff2f6;
            font-size: 14px;
            font-weight: 500;
            color: $wp-tripetto-dark;
            text-decoration: none;
            box-shadow: none !important;

            &:hover {
              text-decoration: underline;
            }
          }

          div.wp-tripetto-header-dropdown-info {
            padding-top: 16px;
            padding-bottom: 8px;

            a {
              font-size: 12px;
              color: #9095aa;
              text-decoration: none;
              box-shadow: none !important;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        &.wp-tripetto-header-dropdown-open {
          .wp-tripetto-header-button-dropdown {
            background-color: lighten($wp-tripetto-main, 2%);
            color: #fff;
            box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.35);
          }

          .wp-tripetto-header-dropdown-menu {
            @keyframes wp-tripetto-header-dropdown-menu-animation {
              from {
                opacity: 0;
                transform: translate3d(0, -32px, 0);
              }

              to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
              }
            }

            opacity: 1;
            pointer-events: auto;
            animation: 0.5s ease 0s wp-tripetto-header-dropdown-menu-animation;
          }
        }
      }
    }
  }
}
