span.wp-tripetto-pro-badge {
  position: relative;
  top: -1px;
  font-size: 9px;
  text-transform: uppercase;
  background-color: #8f68fb;
  color: #fff;
  font-weight: 600;
  padding: 2px 5px;
  margin-left: 6px;
  border-radius: 4px;
}
