.wp-tripetto-modal {
  $wp-tripetto-dark: #18214d;
  $wp-tripetto-main: #8f68fb;
  $wp-tripetto-light: #eff2f6;
  $wp-tripetto-red: #fa3a69;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  z-index: 2147483647;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: default;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;

  > div {
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.2s ease-out;
    transform: translateY(-50px) scale(0.8);
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 3px 1px;

    > span {
      display: block;
      font-weight: 700;
      font-size: 32px;
      color: $wp-tripetto-dark;
      letter-spacing: -1px;
      padding: 40px 40px 0px 40px;
    }

    > p {
      color: $wp-tripetto-dark;
      font-size: 16px;
      letter-spacing: -0.3px;
      line-height: 1.5em;
      padding: 12px 40px;
    }

    > div {
      position: absolute;
      display: block;
      bottom: 32px;
      right: 40px;
      width: 100%;
      text-align: right;

      > a {
        display: inline-block;
        padding: 14px 15px;
        background-color: $wp-tripetto-red;
        border: 2px solid $wp-tripetto-red;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-decoration: none !important;
        outline: none !important;
        transition: background-color 0.2s ease-out;
        text-align: center;
        cursor: pointer;

        &:active,
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(250, 58, 105, 0.35);
        }

        &:hover {
          background-color: lighten($wp-tripetto-red, 2%);
        }

        &:first-of-type {
          background-color: $wp-tripetto-light;
          border-color: $wp-tripetto-light;
          color: $wp-tripetto-dark;

          &:active,
          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(239, 242, 246, 0.35);
          }

          &:hover {
            background-color: lighten($wp-tripetto-light, 2%);
          }
        }

        &:last-of-type {
          margin-left: 16px;
          padding-left: 45px;
          background-size: 14px;
          background-position: 15px center;
          background-repeat: no-repeat;
          background-image: url("delete.svg");
        }
      }
    }
  }

  &.show {
    opacity: 1;

    > div {
      transform: translateY(0) scale(1);
    }
  }

  &.close {
    opacity: 0;

    > div {
      transform: translateY(50px) scale(0.8);
    }
  }
}
