#wp-tripetto-builder {
  position: absolute;
  top: 32px;
  left: 160px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s, left 0.3s, top 0.3s;
  pointer-events: none;
  overflow: hidden;

  > iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  &.ready {
    opacity: 1;
    pointer-events: auto;
  }

  &.sidebyside {
    &-ready {
      @keyframes wp-tripetto-builder-sidebyside-ready {
        from {
          opacity: 0;
          transform: scaleX(0);
        }

        to {
          opacity: 1;
          transform: scaleX(1);
        }
      }

      opacity: 1;
      pointer-events: auto;
      transform-origin: center right;
      animation: 0.3s ease-out 0s wp-tripetto-builder-sidebyside-ready;
    }

    &-close {
      @keyframes wp-tripetto-builder-sidebyside-close {
        from {
          opacity: 1;
          transform: scaleX(1);
        }

        to {
          opacity: 0;
          transform: scaleX(0);
        }
      }

      opacity: 0;
      transform-origin: center right;
      animation: 0.3s ease-out 0s wp-tripetto-builder-sidebyside-close;
    }
  }
}
