#wp-tripetto-dashboard {
  @keyframes wp-tripetto-dashboard-animation {
    from {
      opacity: 0;
      transform: translate3d(0, 100px, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  $wp-tripetto-main: #8f68fb;
  $wp-tripetto-light: #eff2f6;
  $wp-tripetto-dark: #18214d;
  $wp-tripetto-dark-48: #9095aa;
  $wp-tripetto-yellow: #feca2f;
  $wp-tripetto-red: #fa3a69;
  $wp-tripetto-palette-build: #855ffb;
  $wp-tripetto-palette-logic: #189dfb;
  $wp-tripetto-palette-customization: #2bcdfd;
  $wp-tripetto-palette-automations: #30ca89;
  $wp-tripetto-palette-sharing: #feca2f;
  $wp-tripetto-palette-hosting: #fa3a69;

  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  -webkit-font-smoothing: antialiased;
  cursor: default;
  display: flex;
  justify-content: center;
  animation: 1s ease 0s wp-tripetto-dashboard-animation;

  * {
    color: $wp-tripetto-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
  }

  h1,
  h2 {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 1em;
  }

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: $wp-tripetto-main;
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;

    &:hover {
      text-decoration: underline;
    }
  }

  .wp-tripetto-button {
    display: inline-block;
    padding: 14px 22px;
    background-color: $wp-tripetto-main;
    border: 2px solid $wp-tripetto-main;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none !important;
    line-height: 1em;
    outline: none !important;
    transition: background-color 0.2s ease-out;
    text-align: center;
    cursor: pointer;

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(143, 104, 251, 0.35) !important;
    }

    &:hover {
      background-color: lighten($wp-tripetto-main, 2%) !important;
    }

    &.wp-tripetto-button-outline {
      background-color: transparent;
      color: $wp-tripetto-main;

      &:hover {
        color: #fff;
      }
    }

    &.wp-tripetto-button-yellow {
      background-color: $wp-tripetto-yellow !important;
      border-color: $wp-tripetto-yellow !important;
      color: $wp-tripetto-dark !important;

      &:active,
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(254, 202, 47, 0.35) !important;
      }

      &:hover {
        background-color: lighten($wp-tripetto-yellow, 2%) !important;
      }
    }

    &.wp-tripetto-button-red {
      background-color: $wp-tripetto-red !important;
      border-color: $wp-tripetto-red !important;

      &:active,
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(250, 58, 105, 0.35) !important;
      }

      &:hover {
        background-color: lighten($wp-tripetto-red, 2%) !important;
      }
    }

    &.wp-tripetto-button-play {
      padding-left: 56px;
      background-image: url("play.svg");
      background-size: 24px;
      background-position: 20px center;
      background-repeat: no-repeat;
    }
  }

  ul.wp-tripetto-buttons {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      padding-bottom: 4px;

      @media (min-width: 783px) {
        display: inline-block;
        padding: 0px;
      }
    }

    li + li {
      @media (min-width: 783px) {
        padding-left: 16px;
      }
    }
  }

  p {
    font-size: 14px;
  }

  p.wp-tripetto-paragraph {
    font-size: 16px;
    line-height: 1.8em;
  }

  .wp-tripetto-container {
    position: relative;
    width: 100%;
    max-width: 768px;
    margin-right: 10px;

    .wp-tripetto-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 24px 16px 24px;

      @media (min-width: 783px) {
        padding-left: 32px;
        padding-right: 32px;
      }

      .wp-tripetto-header-logo {
        min-height: 50px;
        padding-left: 40px;
        background-image: url("logo.svg");
        background-size: 32px;
        background-position: center left;
        background-repeat: no-repeat;
        font-weight: 600;
        color: $wp-tripetto-dark;
        display: flex;
        align-items: center;

        a {
          color: $wp-tripetto-dark;

          &:hover {
            color: $wp-tripetto-main;
          }
        }
      }

      .wp-tripetto-header-buttons {
        display: none;

        @media (min-width: 783px) {
          display: inline-block;
        }

        .wp-tripetto-link-header {
          font-weight: 600;
          padding-top: 4px;
          padding-bottom: 4px;
          margin-right: 16px;
        }
      }
    }

    .wp-tripetto-hero {
      padding: 32px 24px;
      background-color: #fff;
      border-radius: 8px;
      background-image: url("hero.svg");
      background-position: right 16px bottom;
      background-repeat: no-repeat;
      background-size: 140px;
      margin-bottom: 16px;

      @media (min-width: 500px) {
        background-size: 220px;
      }

      @media (min-width: 783px) {
        background-size: 280px;
        padding: 48px;
        padding-bottom: 32px;
        margin-bottom: 32px;
      }

      @media (min-width: 961px) {
        background-size: 320px;
      }

      h1 {
        @media (min-width: 783px) {
          width: 50%;
        }
      }

      p {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
        padding-top: 24px;

        @media (min-width: 783px) {
          width: 50%;
        }
      }

      ul {
        padding-top: 48px;
      }

      small {
        display: block;
        width: 50%;
        padding-top: 24px;

        @media (min-width: 783px) {
          width: 100%;
        }
      }
    }

    .wp-tripetto-video {
      display: block;
      padding: 32px 24px;
      margin-bottom: 16px;
      background-color: $wp-tripetto-palette-build;
      border-radius: 8px;
      transition: transform 0.2s ease-out;

      * {
        color: #fff;
      }

      span {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -1px;

        @media (min-width: 783px) {
          font-size: 24px;
          width: 316px;
        }
      }

      h2 {
        padding-top: 32px;
        padding-bottom: 48px;
        font-size: 32px;

        @media (min-width: 783px) {
          font-size: 48px;
          width: 316px;
        }
      }

      @media (min-width: 783px) {
        margin-bottom: 32px;
        padding: 32px 24px 32px 50%;
        background-image: url("video.svg");
        background-position: 32px bottom;
        background-repeat: no-repeat;
        background-size: 40% auto;
      }

      @media (min-width: 783px) {
        padding: 56px 48px 48px 50%;
      }

      &:hover {
        text-decoration: none;
        transform: scale(1.01);
      }
    }

    .wp-tripetto-pro {
      padding: 32px 24px;
      margin-bottom: 16px;
      background-color: $wp-tripetto-dark;
      border-radius: 8px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      @media (min-width: 783px) {
        flex-direction: row;
        padding: 32px 48px;
        margin-bottom: 32px;
      }

      * {
        color: $wp-tripetto-yellow;
      }

      .wp-tripetto-pro-left {
        width: 100%;
        padding-bottom: 16px;

        @media (min-width: 783px) {
          padding-top: 24px;
          padding-right: 32px;
          width: 34%;
        }

        small {
          font-size: 13px;
        }

        p {
          color: #fff;
          padding-top: 24px;
          padding-bottom: 48px;
        }

        .wp-tripetto-link-pricing {
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          color: $wp-tripetto-yellow;
          background-image: url("pricing-arrow.svg");
          background-position: center right;
          background-repeat: no-repeat;
          margin-top: 8px;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-right: 18px;
        }
      }

      .wp-tripetto-pro-right {
        width: 100%;
        padding-top: 16px;

        @media (min-width: 783px) {
          width: 66%;
          padding-bottom: 8px;
          padding-left: 32px;
          border-left: 1px solid rgba(255, 255, 255, 0.2);
        }

        h3 {
          font-size: 26px;
          letter-spacing: -1px;
          padding-bottom: 8px;
        }

        small {
          font-size: 13px;
          color: #fff;
        }

        .wp-tripetto-pro-features {
          display: flex;

          > div {
            width: 50%;

            h4 {
              font-size: 16px;
              font-weight: 600;
              letter-spacing: -0.5px;
              padding-top: 20px;
            }

            ul {
              list-style-type: none;
              padding: 0;
              margin: 0;
              margin-top: 8px;

              li {
                padding-left: 24px;
                color: #fff;
                background-image: url("pricing-check.svg");
                background-position: 4px 3px;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }

    .wp-tripetto-help {
      padding: 32px 24px;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 16px;

      @media (min-width: 783px) {
        padding: 48px;
        margin-bottom: 32px;
      }

      .wp-tripetto-help-search {
        padding-bottom: 48px;
        border-bottom: 1px solid $wp-tripetto-light;

        p {
          padding-top: 16px;
          padding-bottom: 32px;

          @media (min-width: 783px) {
            width: 56%;
          }
        }

        form {
          @media (min-width: 500px) {
            display: flex;
          }

          input {
            background-color: $wp-tripetto-light;
            border: 1px solid $wp-tripetto-light;
            border-radius: 8px;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -0.5px;
            height: 50px;
            outline: none !important;
            padding-left: 16px;
            appearance: none;
            -webkit-appearance: none;
            transition: box-shadow 0.2s ease-out;
            width: 100%;
            margin-bottom: 8px;

            &::placeholder {
              color: $wp-tripetto-dark-48;
            }

            &:active,
            &:focus {
              box-shadow: 0 0 0 0.2rem rgba(16, 33, 77, 0.1);
            }

            @media (min-width: 500px) {
              width: auto;
              margin-right: 16px;
              margin-bottom: 0px;
              flex-grow: 1;
            }
          }

          button {
            width: 100%;

            @media (min-width: 500px) {
              width: auto;
            }
          }
        }
      }

      .wp-tripetto-help-howtos {
        padding-top: 40px;
        padding-bottom: 32px;
        border-bottom: 1px solid $wp-tripetto-light;

        p {
          padding-top: 8px;
          padding-bottom: 32px;
        }

        .wp-tripetto-help-chapters {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          > a {
            display: inline-block;
            width: 100%;
            text-decoration: none !important;
            margin-bottom: 8px;
            margin-bottom: 8px;
            border-radius: 8px;
            transition: transform 0.2s ease-out;
            cursor: pointer;
            background-position: right bottom;
            background-repeat: no-repeat;

            h4 {
              font-size: 18px;
              font-weight: 700;
              line-height: 1.3em;
              color: #fff;
              padding: 16px;
            }

            @media (min-width: 500px) {
              width: 48%;
              height: 156px;
              margin-bottom: 24px;
            }

            @media (min-width: 640px) {
              width: 31%;

              h4 {
                padding: 16px 24px;
              }
            }

            &.wp-tripetto-help-chapter-build {
              background-color: $wp-tripetto-palette-build;
              background-size: auto 80%;

              @media (min-width: 500px) {
                background-image: url("chapter-build.svg");
              }
            }

            &.wp-tripetto-help-chapter-logic {
              background-color: $wp-tripetto-palette-logic;
              background-size: auto 80%;

              @media (min-width: 500px) {
                background-image: url("chapter-logic.svg");
              }
            }

            &.wp-tripetto-help-chapter-customization {
              background-color: $wp-tripetto-palette-customization;
              background-size: 90% auto;

              @media (min-width: 500px) {
                background-image: url("chapter-customization.svg");
              }
            }

            &.wp-tripetto-help-chapter-automations {
              background-color: $wp-tripetto-palette-automations;
              background-size: auto 70%;
              background-position: right 10px bottom;

              @media (min-width: 500px) {
                background-image: url("chapter-automations.svg");
              }
            }

            &.wp-tripetto-help-chapter-sharing {
              background-color: $wp-tripetto-palette-sharing;
              background-size: auto 70%;
              background-position: right 10px bottom;

              @media (min-width: 500px) {
                background-image: url("chapter-sharing.svg");
              }
            }

            &.wp-tripetto-help-chapter-hosting {
              background-color: $wp-tripetto-palette-hosting;
              background-size: auto 70%;
              background-position: right 10px bottom;

              @media (min-width: 500px) {
                background-image: url("chapter-hosting.svg");
              }
            }

            &:hover {
              text-decoration: none;
              transform: scale(1.01);
            }
          }
        }
      }

      .wp-tripetto-help-videos {
        padding-top: 32px;

        p {
          padding-top: 8px;
          padding-bottom: 32px;

          @media (min-width: 783px) {
            width: 66%;
          }
        }

        .wp-tripetto-help-thumbnails {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          > a {
            display: block;
            position: relative;
            height: 0;
            overflow: hidden;
            padding-bottom: 56.25%;
            width: 100%;
            text-decoration: none !important;
            margin-bottom: 8px;
            margin-bottom: 8px;
            border-radius: 8px;
            transition: transform 0.2s ease-out;
            cursor: pointer;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% auto;

            &:hover {
              text-decoration: none;
              transform: scale(1.01);
            }

            @media (min-width: 500px) {
              width: 48%;
              padding-bottom: 28.125%;
              margin-bottom: 24px;
            }

            &.wp-tripetto-help-thumbnail-build {
              background-image: url("thumbnail-build.svg");
            }

            &.wp-tripetto-help-thumbnail-logic {
              background-image: url("thumbnail-logic.svg");
            }

            &.wp-tripetto-help-thumbnail-customization {
              background-image: url("thumbnail-customization.svg");
            }

            &.wp-tripetto-help-thumbnail-automations {
              background-image: url("thumbnail-automations.svg");
            }

            &.wp-tripetto-help-thumbnail-sharing {
              background-image: url("thumbnail-sharing.svg");
            }

            &.wp-tripetto-help-thumbnail-hosting {
              background-image: url("thumbnail-hosting.svg");
            }
          }
        }
      }

      .wp-tripetto-link-help {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        background-image: url("arrow.svg");
        background-position: center right;
        background-repeat: no-repeat;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 22px;
        margin-top: 16px;

        @media (min-width: 500px) {
          margin-top: 0px;
        }
      }

      h3 {
        font-size: 26px;
        letter-spacing: -1px;
        padding-bottom: 8px;
      }
    }
  }
}
