@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../fonts/poppins/poppins-500.woff2") format("woff2"),
    url("../fonts/poppins/poppins-500.woff") format("woff"),
    url("../fonts/poppins/poppins-500.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../fonts/poppins/poppins-600.woff2") format("woff2"),
    url("../fonts/poppins/poppins-600.woff") format("woff"),
    url("../fonts/poppins/poppins-600.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../fonts/poppins/poppins-700.woff2") format("woff2"),
    url("../fonts/poppins/poppins-700.woff") format("woff"),
    url("../fonts/poppins/poppins-700.ttf") format("truetype");
}
